
<head>
  <meta charset="utf-8">
  <link href="{{ site.github.url }}/css/style.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.github.url }}/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100" rel="stylesheet">
  <title>Murph's Painting Plus</title>
