
<div id="testimonials">

	<div class="testimonial">
		<p>
			Murph and his crew were fantastic. They worked long hours and were very accomodating when we needed room. All members of his crew were courteous and professional. The work they produced for us looks amazing and we will definitely hope to have him return the next time we decide to update something with a fresh coat of paint.
			<div class="nametag"><img src="{{ site.github.url }}/images/logo-textless.png" class="bullet"> Bill and Linda T.</div>
		</p>
	</div>

	<hr class="rule-line">

	<div class="testimonial">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc cursus erat sed cursus feugiat. Suspendisse ornare eros eu enim vehicula mollis. Nullam rhoncus sodales leo et finibus. Cras in sem pharetra, tempus velit at, maximus nibh. Duis dapibus tellus volutpat interdum consectetur. Aliquam a blandit nunc. Aenean nec tincidunt augue. Praesent euismod tristique nibh, sit amet facilisis quam lobortis vestibulum. Nulla non consectetur nisl. Aenean venenatis orci quis tellus malesuada, ut malesuada augue luctus. Nullam rhoncus justo sit amet sodales interdum. Etiam eget augue aliquet, venenatis elit non, efficitur enim. Phasellus molestie suscipit sagittis. Phasellus at urna quis risus fringilla malesuada.
			<div class="nametag"><img src="{{ site.github.url }}/images/logo-textless.png" class="bullet"> John H.</div>
		</p>
	</div>

	<hr class="rule-line">

	<div class="testimonial">
		<p>
			Donec et velit eu massa viverra blandit. Praesent interdum purus convallis, interdum mi eu, accumsan sapien. Nullam lectus tellus, fringilla ut lectus sit amet, finibus varius sapien. Nunc at odio id arcu mollis iaculis. Phasellus non velit ac sem pellentesque auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus.
			<div class="nametag"><img src="{{ site.github.url }}/images/logo-textless.png" class="bullet"> Sherry K.</div>
		</p>
	</div>

	<hr class="rule-line">

	<div class="testimonial">
		<p>
			Maecenas blandit rutrum vestibulum. Maecenas massa nisl, venenatis eu consectetur aliquet, efficitur eget velit. Maecenas tristique enim a ipsum efficitur, vel consequat massa cursus. Mauris sed lectus turpis. Proin maximus, eros et efficitur tincidunt, mi urna pulvinar est, a fermentum mi ligula et odio. Fusce congue scelerisque sem sit amet mollis. Curabitur elementum non arcu in eleifend. Integer dignissim dictum.
			<div class="nametag"><img src="{{ site.github.url }}/images/logo-textless.png" class="bullet"> Terry and Sharon S.</div>
		</p>
	</div>

	<hr class="rule-line">

	<div class="testimonial">
		<p>
			Aliquam quis lectus mauris. Aliquam at lacus sed lectus tincidunt dapibus nec in quam. Suspendisse tempus pellentesque velit. Pellentesque sit amet lectus risus. Fusce dictum ac diam ac lobortis. Vivamus facilisis a odio eu semper. Vivamus at ex est. Praesent lacinia, enim sed pellentesque pharetra, nunc diam malesuada urna, sit amet consectetur est tortor a sem. Maecenas euismod faucibus massa.
			<div class="nametag"><img src="{{ site.github.url }}/images/logo-textless.png" class="bullet"> Darren and Brenda P.</div>
		</p>
	</div>
</div>
