{% include head.html %}
</head>

<body id="about">

  <div id="main">

    {% include header.html %}
    <div class="sceneElement" data-viewport="-1">
      <div class="outer">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a lorem ac nulla volutpat rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis sed mi nisi. Phasellus quam lorem, eleifend ac commodo vitae, finibus et nisi. Morbi vel pulvinar nunc. Vestibulum est ante, aliquet sed augue vel, suscipit ornare lacus. Praesent volutpat congue odio. Etiam porttitor odio sed mattis elementum. Aenean urna arcu, elementum in dui vitae, pharetra commodo mauris. Mauris nec arcu vel lorem convallis faucibus. Quisque auctor vitae eros quis aliquet. In suscipit fermentum nisl, sed ullamcorper lectus fermentum a. Integer posuere eleifend dui at tristique. Nunc sed libero eu erat fermentum porta eget ut neque. Morbi congue ornare tellus, eget volutpat lacus dignissim et. Donec vestibulum nisl odio, id congue nisl mattis a.<br><br>

        Sed vehicula elit ac placerat sollicitudin. Integer at viverra enim. Etiam nibh est, vehicula quis turpis vel, sagittis tempor eros. Phasellus venenatis leo odio, et consectetur elit tristique et. Maecenas in lobortis neque, nec efficitur purus. Proin pretium, odio pulvinar tincidunt scelerisque, mi mi suscipit leo, sed cursus risus purus vel velit. Mauris pellentesque, lorem id pharetra fringilla, tellus velit suscipit diam, congue cursus turpis justo imperdiet est. Mauris arcu odio, rhoncus non sapien at, efficitur iaculis lorem. Pellentesque ut tempus tortor. Etiam tortor lorem, aliquam a ex a, ullamcorper semper leo. Mauris non imperdiet lectus, eu convallis justo. Donec eu leo at ex dignissim commodo.</p>

        <img src="/images/profile-pic.JPG" class="profile-pic">

      </div>
      {% include footer.html %}
    </div>
  </div>
</body>

{% include transitions-js.html %}
