{% include head.html %}
</head>

<body id="contact">

  <div id="main">

    {% include header.html %}
    <div class="sceneElement" data-viewport="2">
      <div class="outer">
        <img class="logo-main" src="/images/murph-logo.png">
        <hr class="rule-line">

        <div class="form-area">
          <p id="confirmation">Your message has been received. We will contact you shortly.</p>

          <img class="contact-pic" src="/images/profile-contact.jpg">
        </div>

        <hr class="rule-line">
        <br>
        <h3>Call today for your free estimate</h3><br>
        <h3 class="phone-number">575-555-5555</h3>
      </div>
      {% include footer.html %}
    </div>
  </div>
</body>

{% include transitions-js.html %}
