{% include head.html %}
</head>

<body class="contact">

  <div id="main">

    {% include header.html %}
    <div class="sceneElement" data-viewport="2">
      <div class="outer-contact">
        <img class="logo-main" src="/images/murph-logo.png">
        <hr class="rule-line">

        <div class="form-area">
          <form id="contact-form" action="confirmation" method="POST" enctype="multipart/form-data">
          	<div class="row-form">
          		<label for="name">Your name:</label><br />
          		<input id="name" class="input" name="name" type="text" value="" size="60" /><br />
          	</div>
          	<div class="row-form">
          		<label for="email">Your email:</label><br />
          		<input id="email" class="input" name="email" type="text" value="" size="60" /><br />
          	</div>
          	<div class="row-form">
          		<label for="message">Your message:</label><br />
          		<textarea id="message" class="input" name="message" rows="7" cols="60"></textarea><br />
          	</div>
          	<input id="submit_button" type="submit" value="Send email" />
          </form>

          <img class="contact-pic" src="/images/profile-contact.jpg">
        </div>

        <hr class="rule-line">
        <br>
        <h3>Call today for your free estimate</h3><br>
        <h3 class="phone-number">575-555-5555</h3>
      </div>
      {% include footer.html %}
    </div>
  </div>
</body>

{% include transitions-js.html %}
