{% include head.html %}
</head>

<body id="home">

  <div id="main">

    {% include header.html %}
    <div class="sceneElement" data-viewport="-2">
      <div class="outer">
        <img class="logo-main" src="/images/murph-logo.png">
          <!--<h1 class="heading-main">MURPH'S PAINTING PLUS</h1>-->

        <hr class="rule-line">

        <div class="row">
          <p class="feature-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a elementum nunc. Morbi rhoncus tellus magna, non porttitor arcu lobortis eu. Morbi risus nisi, tempor ac luctus sed, consectetur eget nibh. Cras in massa libero. Etiam pharetra augue vitae ante gravida aliquet. Fusce a dictum massa. Nulla bibendum purus ut justo tincidunt finibus. Donec mattis vel purus et dignissim. Curabitur dictum quam vel condimentum finibus. Pellentesque vitae risus quis nunc bibendum malesuada at non justo. Maecenas enim ex, luctus sit amet scelerisque eu, venenatis vel ligula. Praesent porta ornare mauris, quis auctor purus. Praesent condimentum suscipit bibendum. Donec quis posuere ante.
          </p>

          <img class="feature-image" src="/images/house1.jpg" alt="A picture of a nicely painted home">
        </div>

        <hr class="rule-line">

        <div class="row">
          <img class="feature-image" src="/images/house2.jpg" alt="Another picture of a beautifully painted house">
          <p class="feature-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a elementum nunc. Morbi rhoncus tellus magna, non porttitor arcu lobortis eu. Morbi risus nisi, tempor ac luctus sed, consectetur eget nibh. Cras in massa libero. Etiam pharetra augue vitae ante gravida aliquet. Fusce a dictum massa. Nulla bibendum purus ut justo tincidunt finibus. Donec mattis vel purus et dignissim. Curabitur dictum quam vel condimentum finibus. Pellentesque vitae risus quis nunc bibendum malesuada at non justo. Maecenas enim ex, luctus sit amet scelerisque eu, venenatis vel ligula. Praesent porta ornare mauris, quis auctor purus. Praesent condimentum suscipit bibendum. Donec quis posuere ante.
          </p>
        </div>

        <hr class="rule-line">

        <div class="row-service">
            <h2>Our Services</h2>
            <ul class="service-list">
              <li><img src="/images/logo-textless.png" class="bullet"> Exterior Painting</li>
              <li><img src="/images/logo-textless.png" class="bullet"> Interior Painting</li>
              <li><img src="/images/logo-textless.png" class="bullet"> Wallpaper Hanging and Removal</li>
              <li><img src="/images/logo-textless.png" class="bullet"> Drywall Finishing and Repairs</li>
            </ul>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </div>

</body>

{% include transitions-js.html %}
